html, body {
    height: 100%;
	margin: 0;
}


body.restricted {
	background-image: url("../images/restricted-background2.png");
	background-repeat: repeat-x;
	background-color: #737373;
}

#header-restricted {
	background: none;
}

#login-panel {
	width: 350px;
	float: left;
	margin: 20px;
}

#loginForm input {
	width: 300px;
	margin-bottom: 10px;
}

#loginForm .actionRow {
	text-align: center;
}

#loginForm .ui-message-error {
	border: none;
	background: none;
	margin-top: -10px;
	margin-bottom: 10px;
	font-size: .8em;
}

#loginForm .ui-message-error-icon {
	display: none;
}


.page-header .logo {
	margin: 15px 20px 5px 20px;
}

#register-panel {
	width: 350px;
	float: left;
	margin: 20px;
}

#registerForm input {
	width: 300px;
	margin-bottom: 10px;
}

#registerForm .actionRow {
	text-align: center;
}

#registerForm .ui-message-error {
	border: none;
	background: none;
	margin-top: -10px;
	margin-bottom: 10px;
	font-size: .8em;
}

#registerForm .ui-message-error-icon {
	display: none;
}

.ui-messages-error {
	border-left: none;
	border-right: none;
	border-top-color: #ff0000;
	border-bottom-color: #ff0000;
}